data/schemas/game-of-life.xsd

<!-- Schema for a game of life automaton.
     Can choose configured locations for both states.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:redefine schemaLocation="general-CA.xsd">
        <xsd:complexType name="state-makeup-list">
            <xsd:complexContent>
                <xsd:extension base="random-makeup-list">
                    <xsd:sequence>
                        <xsd:element name="cells-on" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="location-list">
            <xsd:complexContent>
                <xsd:extension base="location-list">
                    <xsd:sequence>
                        <xsd:element name="cells-on" type="positions"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:redefine>
    <xsd:element name="game-of-life" type="automaton"/>
</xsd:schema>