data/schemas/predator-prey.xsd

<!-- Schema for a predator prey automaton.
     Can choose configured locations for all three states.
     Can choose how long it takes for prey to reproduce and for predators to reproduce or starve.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
            xmlns:CA="cellular-automata"
            targetNamespace="cellular-automata">
    <xsd:redefine schemaLocation="general-CA.xsd">
        <xsd:complexType name="state-makeup-list">
            <xsd:complexContent>
                <xsd:extension base="CA:state-makeup-list">
                    <xsd:sequence>
                        <xsd:element name="empty" type="xsd:decimal" default="0.1"/>
                        <xsd:element name="predator" type="xsd:decimal" default="0.3"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="location-list">
            <xsd:complexContent>
                <xsd:extension base="CA:location-list">
                    <xsd:sequence>
                        <xsd:element name="empty-spots" type="CA:positions"/>
                        <xsd:element name="predator-spots" type="CA:positions"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
        <xsd:complexType name="parameter-list">
            <xsd:complexContent>
                <xsd:extension base="CA:parameter-list">
                    <xsd:sequence>
                        <xsd:element name="prey-reproduce-time" type="xsd:int"/>
                        <xsd:element name="predator-reproduce-time" type="xsd:int"/>
                        <xsd:element name="predator-sustenance-time" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:redefine>
    <xsd:element name="predator-prey" type="CA:automaton"/>
</xsd:schema>