data/test-overrider.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:CA="test1"
            targetNamespace="test1">
        <xs:redefine schemaLocation="test-overriden.xsd">
            <xs:complexType name="ProductType">
                <xs:complexContent>
                    <xs:extension base="CA:ProductType">
                        <xs:sequence>
                            <xs:element name="country"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:redefine>
    <xs:element name="thingy" type="CA:THANG"/>
</xs:schema>