data/test-overriden.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:CA="test1"
            targetNamespace="test1">
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="number" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="size" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="THANG">
        <xs:sequence>
            <xs:element name="THANG-el" type="CA:ProductType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
