data/test-overrider.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:override schemaLocation="test-overriden.xsd">
            <xs:complexType name="ProductType">
                <xs:sequence>
                    <xs:element name="number" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="color" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:override>
</xs:schema>