data/test-overriden.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="number" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="size" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
